extends layout 

block layout-content 
    div#content.content
        h1.page-title Edit Record
        form(method="post", action="/admin/edit/submit")
            div.form-group
                input(type="hidden", name="recordId", value=editRecord._id)
                div 
                    label(for="title") Title: 
                        div 
                            input(type="text", id="title", name="titleName", value=editRecord.title)
                div 
                    label(for="artist") Artist: 
                        div 
                            input(type="text", id="artist", name="artistName", value=editRecord.artist)
                div 
                label(for="year") Year Released: 
                    div
                        input(type="number", id="year", name="yearName", value=editRecord.year)
                div 
                label(for="genre") Genre: 
                    div
                        input(type="text", id="genre", name="genreName", value=editRecord.genre)
                div
                    button.btn-upd(type="submit") Update Record
                    button.btn-rst(type="reset") Reset Changes